services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_GRAPHQL_URL: "http://host.docker.internal:4200/graphql"
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
      NEXT_PUBLIC_GRAPHQL_URL: "http://host.docker.internal:4200/graphql"
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"
